.book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem;
  height: 45px;
  align-items: center;
  padding-left: 0.5rem;
}

.book:nth-child(2n) {
  background-color: rgb(199, 199, 199);
}

.booksForm {
  margin: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.booksForm input {
  flex: 3;
  padding-left: 0.5rem;
}

.booksForm button {
  flex: 1;
}
